#dashboardContainer {
  display: flex;
  height: 100svh;
}

#navLayout {
  
  width: 166px;
  height: 100svh;
  background-color: #3c3c3c;
  
}
#navLayout > ul {
  padding-left: 15px;
  margin-top: 180px;
 
}
#navLayout > ul > li {
  margin: 10px;
  
}#navLayout > ul > li>a {
  color:#ffffff
  
}
#outletContainer {
  width: 100%;
  height: 100svh;
  overflow-y:auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scrollbar-color: transparent;
  position:relative
  
}
