#spaceUp {
    height: 180px;
    width: 100%;
  }
  #filterContainer{
    width: 80%;
    margin: auto;
  }
  #btn{
    background-color:  rgb(226, 226, 226);
    color: rgb(3, 3, 3);
    border: none;
    outline: none;
    padding: 8px 20px;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }#btn:hover{
    background-color: rgb(199, 199, 199);
  }
  #input{
    border: none;
    outline: none;
    background-color:  rgb(226, 226, 226);
    color: rgb(6, 6, 6);
    padding: 8px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    width: 200px;

  }
  #layout{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .userDiv{
   display: flex;
   margin: 6px;
  }
  
  .userDiv1{
   
   margin: 0px  200px  ;
   /* display: flex; */
   
  }
  .td_affiche{
    padding-left: 100px;
  }
  .th_affiche{
    padding-left: 100px;
  }

  .name:hover{
    background-color:rgb(199, 199, 199);

  }
  
  .name{
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    background-color: rgb(226, 226, 226);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    
  }





  .editbtn{
    border :none;
    cursor: pointer;
    color: aliceblue;
    width: 60px;
    background-color: rgb(117, 114, 34);;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .editbtn:hover{
    border :none;
    cursor: pointer;
    color: rgb(117, 114, 34);;
    width: 60px;
    background-color: rgb(255, 255, 255);;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  
  #editDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width:40%;
    font-family: "Raleway", sans-serif;
margin: auto;
  }
  #editDiv1 {
    display: flex;
    flex-direction: column;
    justify-content:  flex-end;
    align-items: flex-start;
    position: relative;
    width:80%;
    font-family: "Raleway", sans-serif;
margin: auto;
  }
  #title {
    font-size: 24px;
    font-family: "Raleway", sans-serif;
    text-transform: capitalize;
    margin: 20px;
  }
  #title1 {
    font-size: 24px;
    font-family: "Raleway", sans-serif;
    text-transform: capitalize;
    margin: 20px ;
    padding-left: 120px;
  }#close{
    position: absolute;
    right: 3px;
    top :5px;
    cursor: pointer;
    font-family: "Raleway", sans-serif;
  }



  .btnshow{
    border :none;
    cursor: pointer;
    width: 60px;
    color: aliceblue;
    background-color: rgb(195, 111, 78);;
    /* border-top-right-radius: 10px; */
    /* border-bottom-right-radius: 10px; */
  }
  .btnCommands{
    border :none;
    cursor: pointer;
    
    color: aliceblue;
    background-color: rgb(118, 197, 222);;
    /* border-top-right-radius: 10px; */
    /* border-bottom-right-radius: 10px; */
  }
  
  .btnshow:hover{
    border :none;
    cursor: pointer;
    width: 60px;
    background-color: rgb(255, 255, 255);;
    color:  rgb(195, 111, 78);
    /* border-top-right-radius: 10px; */
    /* border-bottom-right-radius: 10px; */
  }

  .carduser1{
    
    font-size: 18px;
  }
  .champ{
    margin-left: 0.2cm;
    color: brown; 
    font-weight:600 ; 
    font-size: 16px;
  }
  .carduser{
    
  border-radius: 2em;
  margin: 12px auto  ;
  }